.searches__result__list{
  background: #fff;
  padding: 18px 20px;
  border: 1px solid #e8e9ec;
  margin-bottom: 15px;
  .searches__result__list__header{
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 15px;
    .searches__result__list__header__title{
      float: left;
      font-size: 18px;
      font-weight: 900;
    }
    .searches__result__list__header__tag{
      float: right;
      .searches__tag--listed{
        background: #00a699;
      }
      .searches__tag{
        float: left;
        margin-left: 10px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 3px 6px;
      }
    }
  }
  .searches__result__list__conts{
    display: flex;
    width: 100%;
    .searches__result__list__conts__thumb{
      float: left;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      width: 178px;
      border: 1px solid #efefef;
      min-height: 120px;
    }
    .searches__result__list__conts__text{
      float: left;
      width: 529px;
      margin-left: 20px;
      .searches__result__list__conts__text__heading{
        font-size: 14px;
        font-weight: 900;
        color: #222;
      }
      .searches__result__list__conts__text__excerpt{
        font-size: 12px;
        margin: 10px 0;
      }
      .searches__result__list__conts__text__address{
        color: #999999;
        font-weight: 900;
        font-size: 12px;
      }
    }
  }
}
.input-search{
  width: 91%;
  float: left;
}
